@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');



.block {
    display: block;
}

html {
    font-family: 'Black Ops One';
    font-weight: 100;
    font-size: 22px;

}


.header {
    text-align: center;
    color: #fff;
    background-color: black;
}


.background {
    background-color: black;
    padding: 30px 0px;
    width: 100%;
    height: 100%;
}

.form-background {
    border: 1px solid black;
    width: 75%;
    max-width: 820px;
    margin: auto;
    padding: 22px;
    background-color: #BF3413;
}

.form {
    padding: 13px;
}

.personal-info {
    margin-bottom: 10px;
}

.personal-entry {
    font-family: 'Black Ops One';
    color: gray;
    width: 98%;
    height: 3em;
    border-width: 0px;
    border-radius: 2px;
    padding: 0px 8px;
}

.recommend{
   margin-top: 40px; 
}

.recommend-title {
    margin-bottom: 10px;
    padding: 0;
    height: 1em;
}

.recommend-entry {
    padding: 1px;
    margin-left: 10px;
    color: rgb(25, 25, 25);
}

.last {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.basegame {
    margin-top: 40px;
    width: 100%;
}

.basegame-title {
    margin-bottom: 12px;
}

.basegame-select {
    font-family: 'Black Ops One';
    color: gray;
    width: 100%;
    height: 3em;
    border-width: 0px;
    border-radius: 2px;
    padding: 0px 8px;
}

.feature {
    margin-top: 40px;
    width: 100%;  
}

.feature-title {
    margin-bottom: 12px;
}

.feature-select {
    font-family: 'Black Ops One';
    color: gray;
    width: 100%;
    height: 3em;
    border-width: 0px;
    border-radius: 2px;
    padding: 0px 8px;
}

option {
    color: black;
}

.checkbox {
    margin-left: 10px;
    color: rgb(25, 25, 25);
}

.zc {
    margin-top: 40px;
}

.zc-title {
    margin-bottom: 10px;
}

.suggestions {
    margin-top: 40px;
}

.suggestions-title {
    margin-bottom: 10px;
}

.suggestions-area {
    width: 99%;
    max-width: 99%;
    font-family: 'Black Ops One';
    color: gray;
}

.submit {
    margin-top: 40px;
    width: 100%;
    height: 3em;
    font-family: 'Black Ops One';
}